extends layout 

block content 
  h1= title 
  h3= dish.dishName
  ul 
    li Price: $#{dish.price}/ea
    if recipe.length === 0
      li No recipes exist. Please create a new recipe.
    else
      li Recipes
        ul
          each val in recipe
            li
              a(href=val.url) #{val.name}