extends layout 

block content 
  h1= title 
  ul 
    li #{equipment.name}
      ul 
        li Cost: #{equipment.cost} 
        li Date Purchased: #{equipment.date_purchased} 
        li Quantity: #{equipment.qty} 
        