extends layout 

block content 
  h1 #{title} 

  form(method='POST' action='')
    div.form-group 
      label(for='name') Name of ingredient: 
      input#name.form-control(type='text' placeholder='Cabbage' name='name' value=undefined===ingredient ? '' : ingredient.name)
      label(for='qty') Quantity owned: 
      input#qty.form-control(type='number' placeholder=0 name='qty' value=ingredient===undefined ? 0 : ingredient.qty)
      label(for='cost') Cost per quantity: 
      input#cost.form-control(type='number' placeholder=0 name='cost' value=ingredient===undefined ? 0 : ingredient.cost)
    button.btn.btn-primary(type='submit') Submit 

    if error 
      p Errors
      ul 
        for errors in error 
          li!= errors.msg 
