extends layout 

block content 
  h1= title 

  form(method='POST' action='') 
    div.form-group 
      label(for='name') Recipe Name: 
      input.form-control(type='text' value=recipe===undefined ? '' : recipe.name)
      label Ingredients:
        each val in ingredients
          input(type='checkbox' id=val.name value=val)
          label(for=val.name) #{val.name}
          