extends layout 

block content 
  h1= title 

  form(method='POST' action='') 
    div.form-group 
      #{console.log(dish)}
      label(for='dish') Type of Dish: 
      select.form-control(name='dish' id='dish')
        each val in dish
          option(value=val.dishName) #{val.dishName}
    div.form-group 
      label(for='name') Recipe Name: 
      input.form-control(type='text' name='name' value=recipe===undefined ? '' : recipe.name)

    div.form-group
      div Ingredients: 
        each val in ingredients
          div.form-check
            input.form-check-input(type='checkbox' name='ingredients' id=val.name value=val)
            label.form-check-label(for=val.name) #{val.name}

    div.form-group
      label(for='instructions') Instructions: 
      textarea.form-control(rows=5 id='instructions' name='instructions' value=recipe===undefined ? '' : recipe.instructions)
      
    div.form-group
      label(for='value') Cost of recipe (dollars): 
      input.form-control(type='number' id='value' name='value' min=0 placeholder=0 value=recipe===undefined ? '' : recipe.value)
    button.btn.btn-primary(type='submit') Submit