extends layout 

block content 
  h1= title 
  h3= restaurant.name 
  ul 
    li Address: #{restaurant.address} 
    li Phone: #{restaurant.phone}
    //- li Founded: #{restaurant.founded} 
    li Menu:
      each val in dish
        ul 
          li
            if val
              a(href=val.url) #{val.dishName}

  hr 
  p 
    a(href=restaurant.url+'/delete') Delete restaurant 
  p 
    a(href=restaurant.url+'/update') Update restaurant 
    